body {
    background-color: #ffffff;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  nav.search {
    background-color: white;
  }
  
  #title {
    color: orange;
    font-size: 60px;
    margin-left: 2%;
    margin-top: 0;
    cursor: pointer;
  }
  
  .search ul {
    opacity: 0.9;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    width: 95%;
  }
  
  .search li {
    float: right;
  }
  
  .search li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .search li a:hover {
    background-color: orange;
  }

div.content {
    width: 80%;
    position: absolute;
    left: 50%;
    top: calc(50% + 42px);
    transform: translate(-50%, -50%);
  }
  
  #searchBar {
    /* background: radial-gradient(white);
    box-shadow: 5px 10px 20px gray;
    backdrop-filter: blur(30px); */
    background-color: lightgray;
    opacity: 0.9;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
  }
  
  #destination {
    border-radius: 8px;
    border-color: #ffd580;
    border-width: thin;
    padding: 15px;
    width: calc(90% - 160px);
    margin-left: 4%;
    font-size: 20px;
  }

  #searchButton {
    background-color: orange;
    border: none;
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1%;
    /* #margin-right: 3%; */
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
  }

  /* label{font-size: 40%} */

  /* h2 {font-size: 60%; line-height:60%;} */

  div.filter{
    /* text-align: left; */
    /* /* color: black;
    font-size: 40px;
    cursor: pointer;
    margin: auto;*/
    margin-top: 1em;
    /*padding: 10px; */
    /* min-width:210px; */
  }
    
  #initialfilter{
    margin: 0 auto;
    background-color: white;
    opacity:0.9;
    border-radius:10px;
    width:200px;
    height: 60px;
    padding-right: 10px;
  }

  #initialfilter h3 {
    float: left;
    margin-left: 20%;
    font-size: 30px;
    margin-top: 5%;
  }
  #initialfilter button {
    margin-left: 10%;
    margin-top: 5%;
    display: inline-block;
  }

  .hiddenfilters {
    width: 50%;
    margin-left: 10%;
    padding-bottom: 2%;
    padding-top: 1%;
  }

  .hiddenfilters h3{
    text-align: center;
  }

  .indexPage input[type=range]{
    float: left;
    margin: 0;
  }
    img{
        height: 35px;
        width: auto;
    }

    [id^=filters] {
        max-width: 100%;
        width: 600px;
        margin: auto;
        background-color: lightgray;
        overflow: hidden;
        border-radius: 20px;
        opacity: 0.9;
    }
    [id^=ranges] {
      margin-left: 1em;
      margin-right: 1em;
      float:left;
    }

    [id^=sort]{
        float:left;
        overflow:hidden;
    }
    [id^=checkboxes] {
        float:left;
        overflow: hidden;
        margin-left: 5%;
    }  
  .dutch,
  .english {
    display: none;
  }
  
  body[data-lang="english"] .english {
    display: inline-block;
  }
  
  body[data-lang="dutch"] .dutch {
    display: inline-block;
  }
  /*mainPage translation*/
  body[data-lang="dutch"] .mainPage #resultSection > div > div > p.dutch { display:block; }
  body[data-lang="english"] .mainPage #resultSection > div > div > p.english { display:block; }
  /*fix filters*/
  body[data-lang="dutch"] .hiddenfilters h3.dutch{
    display:block;
  }
  body[data-lang="english"] .hiddenfilters h3.english{
    display:block;
  }
  #dut_button {
    background-image: url("img/dutchFlag.png");
    background-size: cover;
    background-color: inherit;
    float: right;
    border: 2px solid #000000;
    border-radius: 32px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: 0.3s;
  }
  
  #eng_button {
    background-image: url("img/englishFlag.png");
    background-size: cover;
    background-color: inherit;
    float: right;
    border: 2px solid #000000;
    border-radius: 32px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: 0.3s;
  }

  #log_button{
    background-color: #ffffff80;
    box-shadow: 5px 10px 20px gray;
    backdrop-filter: blur(5px);
    background-image: url("https://raw.githubusercontent.com/Boterhammer/group40travel/main/img/loginButton.svg");
    background-position:left;
    background-repeat:no-repeat;
    float: right;
    border: 2px solid #000000;
    border-radius: 32px;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 60px;
    padding: 0px 8px;
    margin: 10px;
    transition: 0.3s;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    border-radius: 8px;
    opacity: 0.9;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }

  .tabcontent img{
    cursor: pointer;
  }
  .tabcontent button {
    background-color: white;
    float: left;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #1df465;
  }
  
  #home {
    background-image: url("https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png");
  }
  #like {
    background-image: url("img/like.png");
    background-size: cover;
  }
  
  #favLinks {
    background-image: url("img/like.png");
    background-size: cover;
    background-color: rgb(238, 46, 78);
  }

  #leisure {
    background-image: url("img/leisure.png");
    background-size: cover;
  }

  #restaurants {
    background-image: url("img/restaurants.png");
    background-size: cover;
  }
  
  #transportation {
    background-image: url("img/transit.png");
    background-size: cover;
  }
  
  #hotel {
    background-image: url("img/hotels.png");
    background-size: cover;
  }
  
  #activity1, #activity2, #activity3, #activity4, #Favourites {
    border-radius: 8px;
    border: ridge black;
    margin-top: 1%;
    height: 30%;
    width: 85%;
    margin-left: 8%;
    overflow: auto;
  }

  #like {
    width: 50px;
    height: 50px;
    float: right;
  }

  #book {
    width: 100px;
    height: 50px;
    float: right;
  }

  #activity1 > img, #activity2 > img, #activity3 > img, #activity4 > img{  /* Change the size of the image or whatever*/ 
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 10px;
    object-position: center;
    object-fit: cover;
  }

/*Login Page*/
.loginPage {
  background-position: 0% -10%;
}

.loginBox{
    width: 400px;
    height: 400px;
    background-color: white;
    opacity: 0.9;
    /* background: radial-gradient(white);
    box-shadow: 5px 10px 20px black;
    backdrop-filter: blur(30px); */
    border-radius: 20px;
    margin: auto;
    margin-top: 14%;
}

.loginBox h1, .registerBox h1 {
  text-align: center;
  padding-top: 20px;
}

.loginBox h3,input, .registerBox h3,input {
  margin-left: 30px;
}

.loginBox, .registerBox ::placeholder {
  color: rgb(62, 61, 61);
}

.loginBox h3, .registerBox h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.loginBox input , .registerBox input{
  width: 80%;
  height: 20px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: solid black;
  color: black;
  letter-spacing: 1px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.loginBox button {
  font-size: 20px;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: orange;
  margin-left: 40%;
  cursor: pointer;
}

.loginBox button:hover,  .registerBox button:hover {
  color: black;
  background: white;
}

.loginBox #registerSection {
  cursor: pointer;
  margin-left: 43%;
  margin-top: 5%;
}

.loginBox #registerSection:hover {
  color: orange;
  text-decoration: underline;
}
.registerBox{
  width: 400px;
  height: 550px;
  background-color: white;
  opacity: 0.9;
  /* background: radial-gradient(white);
  box-shadow: 5px 10px 20px black;
  backdrop-filter: blur(30px); */
  border-radius: 20px;
  margin: auto;
  margin-top: 9%;
}

.registerBox button {
  font-size: 20px;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: orange;
  margin-left: 35%;
  cursor: pointer;
}


/* Main Page Filter */
.mainPage #filterSection{
  height: calc(100vh - 230px);
  min-height: 600px;
  width: 20%;
  margin-top: 90px;
  margin-left: 5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 8px;
  float: left;
  /* display: inline-block; */
}

.mainPage #resultSection {
  height: calc(100vh - 230px);
  min-height: 600px;
  width: 68%;
  margin-top: 90px;
  margin-left: 2%;
  display: inline-block;

  background-color: white;
  opacity: 0.9;
  border-radius: 8px;

  /* max-height: fit-content; */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #b8bdb9;
  border-radius: 20px;
  border: 1px black;
  /* background-clip: content-box; */
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.mainPage #filterSection h3 {
  text-align: center;
}

.mainPage #filterSection input,label {
  font-size: 15px;
}

.mainPage input[type=range]{
  margin-left: 10%;
  width: 65%;
}

.mainPage #filterSection p {
  text-align: center;
  color: rgb(68, 67, 67);
  margin-top: 0;
  display: inline;
  margin-left: 5%;
}

.inspectContent {
  width:90%;
  margin: auto;
  background-color:#ffffff99;
  backdrop-filter:blur(5px);
  border-radius:20px;
}

.inspectPictureFrame{
  width:100%;
  left:0px;
}
.inspectPictureFrame > img {
  width: 100%;
  height: auto;
  max-height: 30vh;
  border-radius:20px;
  object-fit:cover;
  object-position:center;
}

.inspectBar {
  width: 90%;
  margin: auto;
}
.inspectBar > h1 {
  width:fit-content;
  display:inline-block;
  color:#ffa500;
  font-family:verdana;
  font-size:27pt;
}
.inspectBar > .barContent > img{
  height:50px;
  float:right;
  margin:15px;
  /* display:inline-block; */
}
.inspectBar > .barContent{
  float:right;
  /* display:inline-block; */
}
.inspectBar > .barContent > button {
    height: 60px;
    float:right;
    margin:10px;
    padding: 10px;
    /* display:inline-block; */
    border-radius: 30px;
    background-color:#ffa500;
    color:#ffffff;
    font-weight: bold;
    font-size:18pt;
}
.inspectBar > .barContent > #like{
    width: 60px;
    height: 60px;
    float:right;
    margin:10px;
    padding: 10px;
    /* display:inline-block; */
    border-radius: 10px;
    background-color:#ffa500;
    color:#ffffff;
    font-weight: bold;
    /* object-size:cover; */
    object-position:center;
}

.inspectText {
  margin-left: 5%;
  width:calc(90% - 300px);
  display:inline-block;
  font-family: verdana;
  min-height: 300px;
}
.inspectRating {
  width:200px;
  /* display:inline-block; */
  float:right;
  margin-right:5%;
  text-align:center;
}
.inspectRating > img{
  width:120px;
  height:auto;
  border-radius:10px;
  
}
.inspectRating > #map{
  width:200px;
  height:auto;
  border-radius:20px;
  
}
