body {
    background-color: #ffffff;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  nav.search {
    background-color: white;
  }
  
  #title {
    color: orange;
    font-size: 60px;
    margin-left: 2%;
    margin-top: 0;
    cursor: pointer;
  }
  
  .search ul {
    opacity: 0.8;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    width: 95%;
  }
  
  .search li {
    float: right;
  }
  
  .search li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .search li a:hover {
    background-color: orange;
  }

div.content {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #searchBar {
    background: radial-gradient(white);
    box-shadow: 5px 10px 20px gray;
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
  }
  
  #destination {
    border-radius: 8px;
    border-color: #ffd580;
    border-width: thin;
    padding: 15px;
    width: calc(90% - 160px);
    margin-left: 4%;
    font-size: 20px;
  }

  #searchButton {
    background-color: orange;
    border: none;
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1%;
    #margin-right: 3%;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
  }

  label{font-size: 40%}

  h2 {font-size: 60%; line-height:60%;}

  div.filter{
    /* background: radial-gradient(white);
    box-shadow: 5px 10px 20px black;
    backdrop-filter: blur(30px); */
    #background-color:
    white;
    text-align: left;
    text-align: l;
    /* background-color: grey; */
    color: black;
    font-size: 40px;
    cursor: pointer;
    margin: auto;
    margin-top: 1em;
    #border-radius: 10px;
    padding: 10px;
    min-width:210px;
  }
  #initialfilter{
    margin: 0 auto;
    background-color: white;
    opacity:0.8;
    border-radius:10px;
    width:200px;
  }
   p.filterSlider{
     margin: 0.5em 0;
   }
    .range-slider {
        position: relative;
        text-align: center;
    }
    
    img{
        height: 35px;
        width: auto;
    }

    [id^=filters] {
        min-width: 20%;
        max-width: 700px;
        margin: auto;
        background-color: lightgray;
        overflow: hidden;
        border-radius: 20px;
        opacity: 0.8;
    }
    [id^=ranges] {margin-left: 1em;margin-right: 1em;float:left;}
    #slider-range{

        font-size: 40%;
    }
    #slider-range2{
        font-size: 40%;
    }
    #slider-range3{
        font-size: 40%;
    }
    #slider-range4{
        font-size: 40%;
    }
    #slider-range5{
        font-size: 40%;
    }
    #slider-range6{
        font-size: 40%;
    }
    #slider-range7{
        font-size: 40%;
    }
    #slider-range8{
        font-size: 40%;
    }
    [id^=sort]{
        float:left;
        overflow:hidden;
    }
    [id^=checkboxes] {
        float:left;
        overflow: hidden;
    }  
  .dutch,
  .english {
    display: none;
  }
  
  body[data-lang="english"] .english {
    display: inline-block;
  }
  
  body[data-lang="dutch"] .dutch {
    display: inline-block;
  }
  
  #dut_button {
    background-image: url("img/dutchFlag.png");
    background-size: cover;
    background-color: inherit;
    float: right;
    border: 2px solid #000000;
    border-radius: 42px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }
  
  #eng_button {
    background-image: url("img/englishFlag.png");
    background-size: cover;
    background-color: inherit;
    float: right;
    border: 2px solid #000000;
    border-radius: 42px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }

  #log_button{
    background: radial-gradient(white);
    box-shadow: 5px 10px 20px gray;
    backdrop-filter: blur(30px);
    background-image: url("https://raw.githubusercontent.com/Boterhammer/group40travel/main/img/loginButton.svg");
    background-position:center;
    #background-color: inherit;
    background-repeat:no-repeat;
    float: right;
    border: 2px solid #000000;
    border-radius: 42px;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 8px;
    opacity: 0.8;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }

  .tabcontent button {
    background-color: white;
    float: left;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    margin: 10px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    backgrond-color: #1df465;
  }
  
  #home {
    background-image: url("https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png");
  }
  #like {
    background-image: url("https://static.thenounproject.com/png/5568308-200.png");
    background-size: cover;
  }
  
  #favLinks {
    background-image: url("https://static.thenounproject.com/png/5568308-200.png");
    background-size: cover;
    background-color: rgb(238, 46, 78);
  }

  #leisure {
    background-image: url("https://static.thenounproject.com/png/2117454-200.png");
    background-size: cover;
  }

  #restaurants {
    background-image: url("https://static.thenounproject.com/png/2912457-200.png");
    background-size: cover;
  }
  
  #transportation {
    background-image: url("https://static.thenounproject.com/png/5322294-200.png");
    background-size: cover;
  }
  
  #hotel {
    background-image: url("https://static.thenounproject.com/png/633850-200.png");
    background-size: cover;
  }
  
  #activity1, #activity2, #activity3, #activity4, #Favourites {
    border-radius: 8px;
    border: ridge black;
    margin-top: 1%;
    height: 30%;
    width: 85%;
    margin-left: 8%;
    overflow: auto;
  }

  #like {
    width: 50px;
    height: 50px;
    float: right;
  }

  #book {
    width: 100px;
    height: 50px;
    float: right;
  }

  #activity1 > img, #activity2 > img, #activity3 > img, #activity4 > img{  /* Change the size of the image or whatever*/ 
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 10px;
  }

/*Login Page*/
.loginPage {
  background-position: 0% -10%;
}

.loginBox {
    width: 400px;
    height: 400px;
    background-color: white;
    opacity: 0.8;
    /* background: radial-gradient(white);
    box-shadow: 5px 10px 20px black;
    backdrop-filter: blur(30px); */
    border-radius: 20px;
    margin: auto;
    margin-top: 14%;
}

.loginBox h1 {
  text-align: center;
  padding-top: 20px;
}

.loginBox h3,input {
  margin-left: 30px;
}
.loginBox ::placeholder {
  color: rgb(62, 61, 61);
}
.loginBox h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.loginBox input {
  width: 80%;
  height: 20px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: solid black;
  color: black;
  letter-spacing: 1px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.loginBox button {
  font-size: 20px;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: orange;
  margin-left: 40%;
  cursor: pointer;
}

.loginBox button:hover {
  color: black;
  background: white;
}

/* Main Page Filter */
.mainPage #filterSection{
  height: 600px;
  width: 20%;
  margin-top: 6%;
  margin-left: 5%;
  padding-top: 5px;

  background-color: white;
  opacity: 0.8;
  border-radius: 8px;
  float: left;
  /* display: inline-block; */
}

.mainPage #resultSection {
  height: 600px;
  width: 68%;
  margin-top: 6%;
  margin-left: 2%;
  display: inline-block;

  background-color: white;
  opacity: 0.8;
  border-radius: 8px;

  /* max-height: fit-content; */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #b8bdb9;
  border-radius: 20px;
  border: 1px black;
  /* background-clip: content-box; */
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.mainPage #filterSection h3 {
  text-align: center;
}

.mainPage #filterSection input,label {
  font-size: 15px;
}

.mainPage input[type=range]{
  margin-left: 10%;
  width: 65%;
}

.mainPage #filterSection p {
  text-align: center;
  color: rgb(68, 67, 67);
  margin-top: 0;
  display: inline;
  margin-left: 5%;
}

